{% extends "layout.html" %}
{% block body %}
<h3>Makaleler<h3>
<hr>

    
{% if articles %}
<form action="/search" method = "post">
    <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Ara...">
<button type="submit" class="btn btn-dark" style="position:relative; margin-top:-8px;padding-left:30px;padding-right:30px">Ara</button>
</form>
<hr>
    <ul class="list-group">
    {% for article in articles %}
        <li class="list-group-item"><a href="/article/{{article.id}}"style="color:black;text-decoration:none;">{{article.title}}</a></li>
    {% endfor %}

</ul>
{% else %}
<div class="alert alert-danger">Bu Blokta Henüz Bir Makale Bulunmuyor</div>
{% endif %}
{% endblock body %}